<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 id="WebApp_ID" version="2.5">
	<display-name>bitcoinServer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>StartServlet</servlet-name>
		<servlet-class>servlet.StartServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>API</servlet-name>
		<servlet-class>servlet.V1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartHistoryServlet</servlet-name>
		<servlet-class>servlet.ChartKlineServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartConfigServlet</servlet-name>
		<servlet-class>servlet.ChartConfigServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChartSymbolsServlet</servlet-name>
		<servlet-class>servlet.ChartSymbolsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartSymbol_infoServlet</servlet-name>
		<servlet-class>servlet.ChartSymbol_infoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartMarksServlet</servlet-name>
		<servlet-class>servlet.ChartMarksServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartTimeServlet</servlet-name>
		<servlet-class>servlet.ChartTimeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartTimescale_marksServlet</servlet-name>
		<servlet-class>servlet.ChartTimescale_marksServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartNewsServlet</servlet-name>
		<servlet-class>servlet.ChartNewsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartFuturesmagServlet</servlet-name>
		<servlet-class>servlet.ChartFuturesmagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartQuotesServlet</servlet-name>
		<servlet-class>servlet.ChartQuotesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>API</servlet-name>
		<url-pattern>/api</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>API</servlet-name>
		<url-pattern>/api/v1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartSymbolsServlet</servlet-name>
		<url-pattern>/symbols</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartConfigServlet</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartHistoryServlet</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartQuotesServlet</servlet-name>
		<url-pattern>/quotes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartMarksServlet</servlet-name>
		<url-pattern>/marks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartTimeServlet</servlet-name>
		<url-pattern>/time</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartTimescale_marksServlet</servlet-name>
		<url-pattern>/timescale_marks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartNewsServlet</servlet-name>
		<url-pattern>/news</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartFuturesmagServlet</servlet-name>
		<url-pattern>/futuresmag</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartSymbol_infoServlet</servlet-name>
		<url-pattern>/symbol_info</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StartCaptchaServlet</servlet-name>
		<servlet-class>gt3.src.d1.StartCaptchaServlet</servlet-class>
	</servlet>
	
	
	
	
	<servlet>
		<servlet-name>VerifyLoginServlet</servlet-name>
		<servlet-class>gt3.src.d1.VerifyLoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VerifyLoginServlet</servlet-name>
		<url-pattern>/gt/ajax-validate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartCaptchaServlet</servlet-name>
		<url-pattern>/gt/register</url-pattern>
	</servlet-mapping>
</web-app>